.idea/
.idea_modules/

out/
output/

cmake-build-*/
*.iws

*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
go.work
go.work.sum

.env
AGENTS.md

# Ignore generated protocol directories except _scaffold and default
protocols/*/
!protocols/_scaffold/
!protocols/default/
