.idea/
.idea_modules/
.vscode/
binaries/
out/
docs/
.research/
.gitmodules

cmake-build-*/
*.iws

*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
.env
AGENTS.md

go.work
go.work.sum

output/*
!output/setup.sh

protocols/*/
protocols/_crypto/*/
!protocols/_crypto/aes-gcm.go.tmpl
!protocols/_crypto/rc4.go.tmpl
!protocols/_crypto/xchacha20.tmpl
!protocols/adaptix_default/
!protocols/adaptix_gopher/

