package __PACKAGE__

// ─── Command codes ─────────────────────────────────────────────────────────────

const (
	COMMAND_EXIT    = 0
	COMMAND_UNKNOWN = 1

	COMMAND_FS_LIST     = 10
	COMMAND_FS_UPLOAD   = 11
	COMMAND_FS_DOWNLOAD = 12
	COMMAND_FS_REMOVE   = 13
	COMMAND_FS_MKDIRS   = 14
	COMMAND_FS_COPY     = 15
	COMMAND_FS_MOVE     = 16
	COMMAND_FS_CD       = 17
	COMMAND_FS_PWD      = 18
	COMMAND_FS_CAT      = 19

	COMMAND_OS_RUN        = 20
	COMMAND_OS_INFO       = 21
	COMMAND_OS_PS         = 22
	COMMAND_OS_SCREENSHOT = 23
	COMMAND_OS_SHELL      = 24
	COMMAND_OS_KILL       = 25

	COMMAND_PROFILE_SLEEP    = 40
	COMMAND_PROFILE_KILLDATE = 41
	COMMAND_PROFILE_WORKTIME = 42

	COMMAND_EXEC_BOF       = 50
	COMMAND_EXEC_BOF_OUT   = 51
	COMMAND_EXEC_BOF_ASYNC = 52

	COMMAND_JOB_LIST = 60
	COMMAND_JOB_KILL = 61

	RESP_COMPLETE      = 0
	RESP_ERROR         = 1
	RESP_FS_LIST       = 10
	RESP_FS_UPLOAD     = 11
	RESP_FS_DOWNLOAD   = 12
	RESP_FS_PWD        = 18
	RESP_FS_CAT        = 19
	RESP_OS_RUN        = 20
	RESP_OS_INFO       = 21
	RESP_OS_PS         = 22
	RESP_OS_SCREENSHOT = 23
	RESP_OS_SHELL      = 24

	EXFIL_PACK = 100
	JOB_PACK   = 101
	BOF_PACK   = 102
)

// ─── BOF callback & error codes ────────────────────────────────────────────────

const (
	CALLBACK_OUTPUT      = 0x0
	CALLBACK_OUTPUT_OEM  = 0x1e
	CALLBACK_OUTPUT_UTF8 = 0x20
	CALLBACK_ERROR       = 0x0d
	CALLBACK_CUSTOM      = 0x1000
	CALLBACK_CUSTOM_LAST = 0x13ff

	CALLBACK_AX_SCREENSHOT   = 0x81
	CALLBACK_AX_DOWNLOAD_MEM = 0x82

	BOF_ERROR_PARSE     = 0x101
	BOF_ERROR_SYMBOL    = 0x102
	BOF_ERROR_MAX_FUNCS = 0x103
	BOF_ERROR_ENTRY     = 0x104
	BOF_ERROR_ALLOC     = 0x105
)
