package __PACKAGE__

// ─── Command codes ─────────────────────────────────────────────────────────────
// TODO: Define your command and response codes.
// These must match between the agent implant and the listener plugin.

const (
	COMMAND_EXIT    = 0
	COMMAND_UNKNOWN = 1

	// TODO: add your command codes here
	// COMMAND_CUSTOM = 100

	RESP_COMPLETE = 0
	RESP_ERROR    = 1

	// TODO: add your response codes here
	// RESP_CUSTOM = 100

	EXFIL_PACK = 100
	JOB_PACK   = 101
)
